<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>2F6BE281-0907-439A-AEAE-BB5D1FF94136.playgroundpage</string>
		<string>07126436-9BE8-473F-9F41-99506DF0C154.playgroundpage</string>
		<string>85D4B120-EFDD-452A-9794-BA21580DAAEB.playgroundpage</string>
		<string>C81F56A8-A34D-4F88-8E68-FB10F60A4442.playgroundpage</string>
		<string>E6F58E9B-7215-4EEB-945F-DA82931D3BB2.playgroundpage</string>
	</array>
</dict>
</plist>
