<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>EFDEA335-7214-44C8-B220-2EFB4D991FB5.playgroundpage</string>
		<string>BF98748E-1864-4115-9559-4A8AA9B42406.playgroundpage</string>
		<string>423609CE-34BD-46A0-9532-76F52EE543D2.playgroundpage</string>
		<string>86446A0C-3286-437B-B38B-74F6C933530E.playgroundpage</string>
	</array>
</dict>
</plist>
