<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>D277F352-99AE-40C8-A58C-0C896E482E60.playgroundpage</string>
		<string>6F84396B-0B4C-488A-AFFB-8B27CEEBC624.playgroundpage</string>
	</array>
</dict>
</plist>
